body{
	margin: 0;
	padding: 0;
	font-family: "Open Sans", "Arial", serf;
}

a{
	text-decoration: none;
	color: inherit;
	font-family: Gilroy;
	font-size: 18px;
	font-weight: 800;
	line-height: 1.33;
 	letter-spacing: 3.6px;
	color: black;
	text-transform: uppercase;
}

ul{
	list-style: none;
}

button{
	background: none;
	border: none;
	font-family: Gilroy;
	font-size: 18px;
	font-weight: 800;
	line-height: 1.33;
 	letter-spacing: 3.6px;
	color: black;
	text-transform: uppercase;
}

input{
	border: none;
	background: transparent;
}

p{
	font-family: Open Sans;
  	font-size: 15px;
  	font-weight: 300;
  	line-height: 2;
  	letter-spacing: 0.15px;
  	text-align: left;
  	color: #464646;
}

footer{
	background-color: #464646
}

/*Первая страница*/
/*Меню*/
.main-menu{
	background-color: #f7e397;
}

.main-menu-1 a{
	font-family: Open Sans;
 	font-size: 15px;
 	font-weight: 300;
 	line-height: 2;
 	letter-spacing: 0.15px;
	text-align: left;
 	color: #000000;
 	text-transform: none;
}

input[type="search"]{
	font-family: Open Sans;
  	font-size: 15px;
 	font-weight: 300;
  	opacity: 0.3;
  	line-height: 2;
  	letter-spacing: 0.15px;
  	text-align: left;
  	color: #000000;
  	outline: none;
}

.main-menu-1 button{
	font-family: Open Sans;
  	font-size: 15px;
 	font-weight: 300;
  	opacity: 0.3;
  	line-height: 2;
  	letter-spacing: 0.15px;
  	text-align: left;
  	color: #000000;
  	text-transform: none;
}

.main-menu-1 button[type="search"]{
	outline: none;
}

/*Блок "Селфи палка"*/

h2 {
	font-family: Gilroy;
  	font-size: 47px;
  	font-weight: 800;
  	line-height: 1.19;
  	letter-spacing: 0.47px;
  	text-align: left;
  	color: #000000;
}

.product h3{
	font-family: Gilroy;
  	font-size: 36px;
  	font-weight: 300;
  	line-height: 1.33;
  	letter-spacing: 0.36px;
  	text-align: left;
  	color: #000000;
}
.product-desc p{
	font-family: Open Sans;
  	font-size: 15px;
  	font-weight: 300;
  	line-height: 2;
  	letter-spacing: 0.15px;
  	text-align: left;
  	color: #464646;
}

/*Блок "Список товаров"*/

.product-list a{
	font-family: Gilroy;
  	font-size: 18px;
  	font-weight: 800;
  	line-height: 1.33;
  	letter-spacing: 0.18px;
  	text-align: left;
  	color: #000000;
  	text-transform: none;
}

/*Блок "Доставка. Гарантия. Кредит."*/

.delivery-info {
	background-color: #e5e5e5;
}

.delivery h2{
  	font-family: Gilroy;
  	font-size: 47px;
  	font-weight: 800;
  	line-height: 1.02;
  	letter-spacing: 0.47px;
  	text-align: left;
  	color: #000000;
}

.delivery p{
	font-family: Open Sans;
  	font-size: 15px;
  	font-weight: 300;
  	font-stretch: normal;
  	font-style: normal;
  	line-height: 2;
  	letter-spacing: 0.15px;
  	text-align: left;
  	color: #464646;
}

/*Вторая страница*/
/*Блок Моноподы для селфи*/

.monopod h1{
	font-family: Gilroy;
  	font-size: 47px;
  	font-weight: 800;
  	font-stretch: normal;
  	font-style: normal;
  	line-height: 1.02;
  	letter-spacing: 0.47px;
  	text-align: left;
  	color: #000000;
}

.monopod a{
	font-family: Open Sans;
  	font-size: 14px;
 	font-weight: 300;
  	opacity: 0.3;
  	line-height: 2;
  	letter-spacing: 0.15px;
  	text-align: left;
  	color: #000000;
  	text-transform: none;
}

/*Блок с филтром*/

.option{
	font-family: Open Sans;
  	font-size: 14px;
  	font-weight: 300;
  	line-height: 2.86;
  	letter-spacing: 0.14px;
  	text-align: left;
  	color: #000000;
}

.option h2{
	font-family: Gilroy;
  	font-size: 16px;
  	font-weight: 800;
  	line-height: 1.5;
  	letter-spacing: 3.2px;
  	text-align: left;
  	color: #000000;
  	text-transform: uppercase;
}

.option h3{
	font-family: Gilroy;
  	font-size: 18px;
  	font-weight: 800;
  	line-height: 1.33;
  	letter-spacing: 0.18px;
  	text-align: left;
  	color: #000000;
}

/*Блок сортировки и список товаров*/

.mod h2{
	font-family: Gilroy;
  	font-size: 18px;
  	font-weight: 800;
  	line-height: 1.33;
  	letter-spacing: 0.18px;
  	text-align: left;
  	color: #000000;
}

.as-butt-1{
	font-family: Open Sans;
  	font-size: 14px;
  	font-weight: 300;
  	line-height: 2.86;
  	letter-spacing: 0.14px;
  	text-align: left;
  	color: #000000;
  	text-transform: none;
}

.as-butt-2{
	font-family: Open Sans;
  	font-size: 14px;
 	font-weight: 300;
  	opacity: 0.3;
  	line-height: 1.3;
  	letter-spacing: 0.15px;
  	text-align: left;
  	color: #000000;
  	text-transform: none;
}

.mod-list p{
	font-family: Gilroy;
  	font-size: 16px;
  	font-weight: 300;
}

.mod-list a p{
	font-family: Gilroy;
  	font-size: 18px;
  	font-weight: 800;
  	line-height: 1.33;
  	letter-spacing: 0.18px;
  	text-align: left;
  	color: #000000;
  	text-transform: none;
}

/*Нижнее меню*/

.footer-nav a {
	opacity: 0.7;
  	font-family: Open Sans;
  	font-size: 15px;
  	font-weight: 300;
  	line-height: 2;
  	letter-spacing: 0.15px;
  	text-align: left;
  	color: white;
  	text-transform: none;
}

.main-nav button{
	opacity: 0.3;
  	font-family: Open Sans;
  	font-size: 15px;
  	font-weight: 300;
  	line-height: 2;
  	letter-spacing: 0.15px;
  	text-align: left;
  	color: white;
  	text-transform: none;
}

.social a{
	color: white;
}

.social p {
	color: white;
}